In [1]:
import pandas as pd
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='\s+', header = None)
df = pd.DataFrame(df_data)
df_data.to_csv('myhouseproject.csv')

In [2]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='\s+', header = None)
df_data.columns = ['CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV']
df_data.head() # 이전 코드와 동일한 코드(pandas 모듈은 위에서 호출 완료)
import numpy as np # (1) numpy 모듈 호출
df_data['weight_0'] = 1 # (2) weight 0 값 추가
df_data = df_data.drop("MEDV", axis=1) # (3) Y 값 제거
df_data.to_csv('second.csv')
df_matrix = df_data.values # (4) 행렬(Matrix) 데이터로 변환하기
weight_vector = np.random.random_sample((14, 1)) # (5) 가중치 w 생성
df_matrix.dot(weight_vector) # (6) 내적 연산 실행 결과 출력

array([[348.64661988],
       [307.62627996],
       [295.4014148 ],
       [270.50142832],
       [276.37278522],
       [278.25685388],
       [365.40440769],
       [384.59006476],
       [390.39006123],
       [377.36164352],
       [383.99627078],
       [375.03695816],
       [351.57549636],
       [353.09898202],
       [363.75572795],
       [350.07753303],
       [333.88430723],
       [365.08470453],
       [327.05945091],
       [357.23820041],
       [375.26858013],
       [369.26855925],
       [373.56714026],
       [378.13546301],
       [373.43767627],
       [357.57950061],
       [368.65974143],
       [360.04777173],
       [371.27207457],
       [366.13147433],
       [372.04344046],
       [372.95167688],
       [351.76698901],
       [370.09504936],
       [358.21035414],
       [331.99510269],
       [326.75324016],
       [317.81128409],
       [312.01162833],
       [324.23267293],
       [320.01975982],
       [257.43142935],
       [259.52445017],
       [261.64543247],
       [279.68378233],
       [277.23556592],
       [278.8087587 ],
       [308.4963481 ],
       [319.82637604],
       [295.59362618],
       [305.05512474],
       [312.15223413],
       [288.4661929 ],
       [290.02623737],
       [521.24639904],
       [313.75287633],
       [388.35634499],
       [351.13446288],
       [330.79644164],
       [341.58541918],
       [353.42708871],
       [366.02810991],
       [351.59195219],
       [340.31666   ],
       [286.57629682],
       [394.09409656],
       [403.66163733],
       [368.43569118],
       [378.98763089],
       [375.01566074],
       [320.08378215],
       [326.43673172],
       [321.0427199 ],
       [319.44658503],
       [396.44642577],
       [416.78227881],
       [432.29359631],
       [418.00598557],
       [423.6746582 ],
       [413.99154048],
       [327.83068552],
       [348.08994881],
       [327.75765281],
       [334.99081524],
       [295.0639604 ],
       [297.14496968],
       [294.64137781],
       [298.26261664],
       [330.33377851],
       [318.03608272],
       [320.28725032],
       [324.30500174],
       [334.30322853],
       [320.4622176 ],
       [348.16241415],
       [315.61201894],
       [328.27695509],
       [329.21286308],
       [307.74327939],
       [322.88996819],
       [424.15166422],
       [418.93553985],
       [386.42608253],
       [429.86912391],
       [430.28632763],
       [435.6783056 ],
       [434.4375752 ],
       [427.71926753],
       [434.37600876],
       [432.36529455],
       [412.06981925],
       [463.55392508],
       [471.96662514],
       [474.13333115],
       [463.88992369],
       [463.00705734],
       [459.30594464],
       [464.00790062],
       [454.01954537],
       [455.9166417 ],
       [265.6956176 ],
       [271.79107644],
       [278.12727457],
       [282.68606006],
       [279.60633808],
       [275.15794364],
       [281.35541197],
       [482.62584586],
       [484.00539984],
       [483.46844142],
       [482.74272377],
       [482.64514222],
       [480.58768118],
       [481.36603795],
       [468.20321814],
       [484.41642631],
       [479.57724145],
       [483.10429009],
       [485.6238403 ],
       [484.91992811],
       [484.0099699 ],
       [493.60730772],
       [460.0127961 ],
       [460.10376883],
       [459.58895672],
       [431.60673819],
       [425.90874153],
       [457.82665211],
       [451.90573183],
       [448.87689283],
       [449.05788505],
       [445.98465754],
       [439.2478964 ],
       [436.567271  ],
       [442.37177316],
       [406.55282084],
       [412.48612732],
       [443.45406884],
       [444.35293904],
       [446.34467379],
       [438.24722641],
       [440.25723555],
       [446.55972914],
       [444.78255472],
       [448.46051739],
       [428.79676925],
       [443.70727014],
       [420.55164058],
       [437.89680418],
       [441.88791747],
       [437.72213514],
       [445.59639069],
       [356.46979351],
       [351.45035346],
       [343.26132984],
       [322.4757031 ],
       [332.6627041 ],
       [344.93982855],
       [345.00772404],
       [252.56448569],
       [266.76865175],
       [256.38214635],
       [269.95505455],
       [272.54533511],
       [272.54583344],
       [260.78573037],
       [249.53601658],
       [434.880683  ],
       [426.65296204],
       [434.05736022],
       [423.49981821],
       [429.73215712],
       [426.660126  ],
       [318.98195513],
       [321.25320529],
       [331.91595482],
       [393.86880862],
       [391.85873754],
       [396.666493  ],
       [453.95832455],
       [451.5757343 ],
       [414.40278065],
       [400.73397695],
       [316.59405767],
       [315.20467767],
       [308.11533342],
       [324.24756236],
       [337.48184106],
       [327.71064643],
       [355.05975249],
       [347.67465871],
       [349.06614903],
       [326.384651  ],
       [311.36418363],
       [303.81468716],
       [317.75265956],
       [325.76700861],
       [339.56940055],
       [348.22905785],
       [344.01361452],
       [364.7078791 ],
       [372.13131035],
       [359.30162889],
       [360.53474935],
       [355.89553081],
       [358.36208009],
       [360.28338898],
       [356.26084746],
       [322.62576462],
       [325.18846254],
       [353.48534244],
       [355.02119193],
       [353.32603491],
       [351.35225307],
       [348.82370627],
       [349.34096288],
       [358.74279594],
       [354.07368199],
       [336.1972114 ],
       [349.78522192],
       [359.12788764],
       [365.66105657],
       [356.36077994],
       [329.95825795],
       [391.47601282],
       [393.00202797],
       [370.33003068],
       [392.40998204],
       [375.85644949],
       [360.21511618],
       [357.52333413],
       [351.87201564],
       [352.86200017],
       [355.34479313],
       [385.44234906],
       [380.11151916],
       [330.80355887],
       [333.95377181],
       [341.25363321],
       [341.96323749],
       [333.73167955],
       [336.16457307],
       [336.64167461],
       [341.41714549],
       [337.49424541],
       [323.86485653],
       [336.60871468],
       [324.14584914],
       [315.46996381],
       [295.5359977 ],
       [284.91229024],
       [269.31765866],
       [291.72337141],
       [287.59303952],
       [312.39473278],
       [317.40526143],
       [321.64918502],
       [309.9640977 ],
       [313.5562087 ],
       [268.63263197],
       [284.42885196],
       [271.25582661],
       [275.40543407],
       [287.32637886],
       [359.74525705],
       [358.10214062],
       [321.82789198],
       [353.25224849],
       [361.05051414],
       [346.73827698],
       [325.4434323 ],
       [325.49210942],
       [323.67049802],
       [315.64224909],
       [329.12571291],
       [321.67591173],
       [332.16967349],
       [340.49019898],
       [403.27726471],
       [398.31427408],
       [421.15909488],
       [376.93442523],
       [363.37501959],
       [362.16366048],
       [287.58733484],
       [296.98198848],
       [303.51589435],
       [303.14366454],
       [358.43041263],
       [357.51283083],
       [332.84541035],
       [343.00370886],
       [365.37412958],
       [359.52445869],
       [363.13328943],
       [359.25444224],
       [364.67950611],
       [358.25029841],
       [352.8780264 ],
       [349.96650523],
       [330.43513737],
       [331.34272155],
       [329.55449634],
       [343.54419921],
       [323.66922825],
       [309.72175002],
       [318.18059397],
       [329.03380648],
       [428.97794817],
       [422.33863792],
       [430.6485582 ],
       [351.74885482],
       [342.91360992],
       [271.06722719],
       [271.72741881],
       [270.80778199],
       [277.36960628],
       [284.74975865],
       [271.65626555],
       [276.61196803],
       [283.34168506],
       [341.73193069],
       [439.98960812],
       [429.00131159],
       [412.19512833],
       [381.428199  ],
       [381.75854702],
       [416.04276153],
       [355.26342843],
       [380.44941962],
       [386.59748135],
       [452.61953334],
       [447.13266729],
       [290.18172379],
       [398.35584013],
       [395.13617285],
       [673.92828842],
       [668.29776876],
       [664.67145247],
       [662.83290808],
       [662.22830379],
       [663.31997722],
       [667.71659856],
       [662.71506568],
       [655.3075331 ],
       [658.44079431],
       [658.41812439],
       [643.1807405 ],
       [665.77377757],
       [664.9279662 ],
       [667.37913185],
       [669.39071412],
       [660.92872564],
       [685.66399452],
       [690.2644834 ],
       [678.74839014],
       [674.6007515 ],
       [678.5322252 ],
       [684.29623328],
       [682.48573328],
       [707.61327902],
       [681.33780767],
       [680.01261311],
       [679.90220097],
       [669.03383388],
       [685.53690383],
       [688.64618394],
       [684.08504917],
       [682.39382534],
       [677.78993821],
       [674.38613513],
       [664.89546393],
       [680.50145499],
       [672.1649063 ],
       [675.84234769],
       [675.74031942],
       [674.64202563],
       [676.63895351],
       [695.89666836],
       [664.03199626],
       [688.44515046],
       [680.77521058],
       [676.15302003],
       [682.99675437],
       [679.58683145],
       [703.75030796],
       [681.10712745],
       [667.47958761],
       [668.83777058],
       [652.90747119],
       [641.85217071],
       [635.09031293],
       [642.25734823],
       [663.17451388],
       [662.88030625],
       [639.69736608],
       [629.4600605 ],
       [648.72172279],
       [658.55842637],
       [624.3289287 ],
       [667.23067574],
       [663.40768429],
       [657.13243131],
       [621.24540384],
       [611.59667251],
       [631.64649032],
       [609.30629325],
       [629.174169  ],
       [628.81485283],
       [635.58952497],
       [630.10557949],
       [635.8828573 ],
       [622.58379736],
       [631.50719312],
       [638.38906762],
       [641.88185388],
       [629.64454486],
       [635.00468101],
       [638.93266499],
       [676.72391729],
       [680.45779504],
       [675.91643469],
       [675.45253858],
       [677.24441948],
       [660.26973263],
       [633.51029311],
       [664.55944837],
       [674.6600446 ],
       [677.37823715],
       [665.12231127],
       [622.40432132],
       [670.05485594],
       [670.05844888],
       [674.15839996],
       [625.9240623 ],
       [625.11461725],
       [621.12715557],
       [616.92709233],
       [652.38185793],
       [667.40671981],
       [652.28447393],
       [667.38198026],
       [666.30871338],
       [667.56195869],
       [657.25952947],
       [638.61346416],
       [619.80629389],
       [666.24829334],
       [662.18746028],
       [655.46821424],
       [667.00585465],
       [668.66341598],
       [660.49781364],
       [653.26320529],
       [669.41535495],
       [666.10074967],
       [672.90670888],
       [675.98284836],
       [674.37138268],
       [669.60234383],
       [655.1051604 ],
       [658.5743182 ],
       [659.72316003],
       [640.61273121],
       [639.59017959],
       [646.66838474],
       [664.55837693],
       [647.62397224],
       [704.7503321 ],
       [703.9283281 ],
       [703.17397782],
       [707.41725665],
       [698.15898618],
       [417.0796731 ],
       [411.84185579],
       [406.13137587],
       [431.59595926],
       [427.21963362],
       [423.56177986],
       [428.68855134],
       [431.8906026 ],
       [328.49742744],
       [332.69209119],
       [338.69025558],
       [337.88752643],
       [334.4428883 ]])

In [3]:
from pandas import Series, DataFrame

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73],
            'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}

df = pd.DataFrame(raw_data, columns= ['first_name', 'last_name', 'age', 'city'])

df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [4]:
df1 = DataFrame(raw_data, columns=['age', 'city'])
df1

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [5]:
import pandas as pd
import numpy as np
df = pd.read_excel('excel-comp-data.xlsx')
df

df2 = pd.read_excel('excel-comp-data.xlsx')
df2.head(5).T

,0,1,2,3,4
account,211829,320563,648336,109996,121213
name,"Kerluke, Koepp and Hilpert",Walter-Trantow,"Bashirian, Kunde and Price","D'Amore, Gleichner and Bode",Bauch-Goldner
street,34456 Sean Highway,1311 Alvis Tunnel,62184 Schamberger Underpass Apt. 231,155 Fadel Crescent Apt. 144,7274 Marissa Common
city,New Jaycob,Port Khadijah,New Lilianland,Hyattburgh,Shanahanchester
state,Texas,NorthCarolina,Iowa,Maine,California
postal-code,28752,38365,76517,46021,49681
Jan,10000,95000,91000,45000,162000
Feb,62000,45000,120000,120000,120000
Mar,35000,35000,35000,10000,35000

In [6]:
df.index = df['account']
del df['account']
df.head()

,name,street,city,state,postal-code,Jan,Feb,Mar
account,,,,,,,,
211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000